body {
    background: #0828CC;
}

.links {
    display: flex;
    margin-left: 700px;
    padding: 25px;
    justify-content: space-between;
    font-family: "aktiv-grotesk",sans-serif;
    font-size: 12px;
    color: white;
    width: 20%;
    float: center;
    margin-top: -7vh;

}

.header {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    float: center;
    width: 50%;
    font-family: "aktiv-grotesk",sans-serif;
    color: white;
    font-size: 18px;

}

.image {
    border-radius: 20px;
    display: flex;
    padding: 2px;
    margin-left: 880px;
    margin-top: 160px;
    justify-content: space-between;
    width: 75px;
    float: center; 
    border: black solid
}

.logo-text {
    display: flex;
    float: center;
    margin-left: 500px;
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: -.0005em;
    line-height: 1.22;
    font-size: 56px;
    color: white; 
}

.p-text {
    display: flex;
    float: center;
    color: white;
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: -.0005em;
    width: 450px;
    text-align: center;
    line-height: 2.20;
    margin-left: 700px;
}

.subscribe-btn {
    display: flex;
    background:  #0828CC;
    font-size: 12px;
    margin: -610px;
    float: right;
    color: white;
    font-family: "aktiv-grotesk",sans-serif;
    letter-spacing: -.0005em;
    width: 500px;
    text-align: center;
    line-height: 1.52;
    margin-right: -300px;
   
}

.btn-bottom {
    display: flex;
    float: center;
    width: 320px;
    height: 50px;
    font-family: "aktiv-grotesk",sans-serif;
    margin-left: 762px;
    text-align: center;
    padding: 0 100px;
    border-radius: 20px;
    background-color: white;
    color: #0828CC;
    font-size: 12px;
    letter-spacing: 0.4px;
}

.social-media {
    
}




    
